<h1> Welcome to  Q&A</h1>

We hope you find your answer satisfied

<ul>
  {{#each model as |rental|}}
     <li>{{rental.owner}}'s {{rental.type}} in {{rental.city}}</li>
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
